@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied - SmokeQuit.MVCWebApp.FE.LocDPX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmokeQuit.MVCWebApp.FE.LocDPX - <span class="text-danger">Chat System</span></a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="row text-center">
                <h3 class="text-danger">Access Denied</h3>
                <h4 class="text-danger">You do not have permission to access this function!</h4>
                <div class="mt-3">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login</a>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy; 2025 - SmokeQuit Chat System - LocDPX
        </div>
    </footer>
</body>
</html>