@model SmokeQuit.Repositories.DuongLNT.Models.LeaderboardsDuongLnt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaderboardsDuongLnt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlanId" class="control-label"></label>
                <select asp-for="PlanId" class ="form-control" asp-items="ViewBag.PlanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DaySmokeFree" class="control-label"></label>
                <input asp-for="DaySmokeFree" class="form-control" />
                <span asp-validation-for="DaySmokeFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneySave" class="control-label"></label>
                <input asp-for="MoneySave" class="form-control" />
                <span asp-validation-for="MoneySave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankPosition" class="control-label"></label>
                <input asp-for="RankPosition" class="form-control" />
                <span asp-validation-for="RankPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAchievements" class="control-label"></label>
                <input asp-for="TotalAchievements" class="form-control" />
                <span asp-validation-for="TotalAchievements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreakCount" class="control-label"></label>
                <input asp-for="StreakCount" class="form-control" />
                <span asp-validation-for="StreakCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityContribution" class="control-label"></label>
                <input asp-for="CommunityContribution" class="form-control" />
                <span asp-validation-for="CommunityContribution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsTopRanked" class="form-check-input" type="checkbox" />
                    <label asp-for="IsTopRanked" class="form-check-label"></label>
                </div>
                <span asp-validation-for="IsTopRanked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressScore" class="control-label"></label>
                <input asp-for="ProgressScore" class="form-control" />
                <span asp-validation-for="ProgressScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
